<div id="<%= dom_id novel %>">
  <strong><%=link_to novel.title, novel %></strong>

  <p>
    <strong>Description:</strong>
    <%= novel.description %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= novel.genre %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= novel.author.nickname %>
  </p>
</div>
