<div id="<%= dom_id novel %>">
  <p>
    <strong>Title:</strong>
    <%= novel.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= novel.description %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= novel.genre %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= novel.author_id %>
  </p>

</div>
